  .header-body {
    background-color: #8be3b0;
  }
  .header, .foot {
    background-color: #abebc6;
  }
  .title {
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 20px;
    font-style: normal;
  }
  .header-archived, .foot-archived {
    background-color: darkgray;
  }
  